#main-container {
  text-align: center;
  margin: auto;
}



#loading {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

#error {
  color: red;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}
