.is-wide-modal {
    width: 80vw !important;
    max-width: none !important;
}

@media screen and (max-width: 768px) {
    .is-wide-modal {
        width: 90vw !important;
    }
}

/* .field.is-horizontal .field-label {
    align-items: center; 
} */

.input {
    width: 100%;
}

/* .effects-list {
    margin-top: 10px;
    display: flex;
} */

.effect-item {
    width: 40%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.positive-effect {
    background-color: #e6f7e6;
}

.negative-effect {
    background-color: #fdd;
    color: #d9534f;
}

.effect-target {
    font-style: italic;
}

/* .effect-magnitude {
    font-weight: bold;
} */