.is-wide-modal {
    width: 80vw !important;
    max-width: none !important;
}

@media screen and (max-width: 768px) {
    .is-wide-modal {
        width: 90vw !important;
    }
}

/* .field.is-horizontal .field-label {
    align-items: center; 
} */

.input {
    width: 100%;
}

.effect-item {
    width: 40%;
    border: 1px solid #ddd;
    border-radius: 4px;
    
}
.effect-item-edit:hover {
    background-color: #5f5f5f;
}

.effect-item-edit {
    width: 40%;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}
